html{
    overflow-x: hidden;
    }

body{
    background-color: rgb(244, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(59, 59, 59);
    }

.top_box{
    text-align: center;
    }

.caption{
    text-align: center;
    letter-spacing: 6px;
    font-size: 2ex;
    }

.p-diamond{
    /* width: 600px;
    height: 120px; */
    /* display: flex; */
    /* justify-content: center; */
    /* padding: 10px; */ 
    text-align: center;
    }

.diamond{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(164, 168, 184);
    margin: 50px auto 50px auto;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    transition: .8s;
    /* float: left; */
    transform: rotate(45deg);
    font-size: 40pt;
    color: rgb(244, 244, 244);
    text-decoration: none;
    text-align: center; 
    }

.diamond-inner {
    transform: rotate(-45deg);
    color: honeydew;
    text-align: center;
    padding: 10px 0;
    font-family: serif;
    }

.top_box{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 0 auto 0 auto;
    text-align: center;    
}

.circle {
    border-radius: 50%;
    background-color: rgb(49, 92, 222);
    transform: rotate(405deg);
    
    /* width: 100px;
    height: 100px; */
}
.circle2 {
    border-radius: 50%;
    background-color: rgb(196, 61, 81);
    transform: rotate(405deg);
    /* width: 100px;
    height: 100px; */
}
.circle3 {
    border-radius: 50%;
    background-color: rgb(66, 147, 91);
    transform: rotate(405deg);
    /* width: 100px;
    height: 100px; */
}

.prof-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(49, 92, 222);
}

.bigtitle{
    font-size: 4em;
}

.nameroma{
    font-size: 1em;
    letter-spacing: 8px;
}

.nameja{
    font-size: 2em;
}

.prof{
    float: left;
    text-align: center;
    letter-spacing: 3px;
}
.prof_img{
    width: 280px;
    height: 60%;
    float: left;
    margin-left: 100px;
    margin-right: 80px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.prtitle{
    letter-spacing: 3px;
    font-size: 3ex;
}

.history{
    overflow: hidden;
    margin-right: 100px;

}

.advantage{
    margin-right: 100px;
    margin-left: 100px;
}

.skill{
    margin-right: 100px;
    margin-left: 100px;
}

.hobby{
    margin-right: 100px;
    margin-left: 100px;
}

.passion{
    margin-right: 100px;
    margin-left: 100px;
}

.listen{
    text-align: center;
    letter-spacing: 5px;
}

.listen-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(196, 61, 81);
}

.scbox{
    width: 700px;
    height: auto;
    text-align: center;
    margin:  0 200px 0 200px;
    /* display: flex; */
}

.sctext1{
    float: left;
    /* display: inline-block; */
    /* vertical-align: left; */
}

.soundcloud{
    width: 500px;
    height: auto;
    margin: auto;
}

.sctext2{
    float: right;
    /* display: inline-block; */
    /* vertical-align: right; */
}

.see-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(66, 147, 91);
}

.see{
    text-align: center;
    letter-spacing: 5px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    max-width: 960px;
    min-width: 500px;
}

.item{
    width: 300px;
    height: auto;
    /* display: flex; */
    text-align: center;
    margin:  auto;
    flex-wrap: wrap;
}

img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: flex;
    text-align: center;
}

.itemtitle{
    float: left;
}