html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    }

body{
    background-color: rgb(244, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 14px;
    }

nav {
    position: fixed;
    background-color: #ccc;
    padding: 20px;
    scroll-behavior: smooth;
    }

.top_box{
    text-align: center;
    }

.caption{
    text-align: center;
    letter-spacing: 6px;
    font-size: 3ex;
    }

.p-diamond{
    text-align: center;
    }

.diamond{
    display: inline-block;
    width: 110px;
    height: 110px;
    background-color: rgb(164, 168, 184);
    margin: 70px 70px 70px 70px;
    cursor: pointer;
    transition: .8s;
    transform: rotate(45deg);
    font-size: 40pt;
    color: rgb(244, 244, 244);
    text-decoration: none;
    text-align: center; 
    }

.diamond-inner {
    transform: rotate(-45deg);
    color: rgb(244, 244, 244);
    text-align: center;
    padding: 10px 0 50px 40px;
    font-family: serif;
    font-size: 70px;
    }

.top_box{
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: 0 auto 0 auto;
    text-align: center;    
}

.circle {
    border-radius: 50%;
    background-color: rgb(49, 121, 222);
    transform: rotate(405deg);
}
.circle2 {
    border-radius: 50%;
    background-color: rgb(196, 61, 99);
    transform: rotate(405deg);
}
.circle3 {
    border-radius: 50%;
    background-color: rgb(90, 156, 91);
    transform: rotate(405deg);
}

/*----------------------
profile
---------------------*/

.prof-circle{
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(49, 121, 222);
}

.bigtitle{
    font-size: 4em;

}

.myname{
    text-align: center;
    letter-spacing: 6px;
}

.nameroma{
    font-size: 1em;
    letter-spacing: 8px;
}

.nameja{
    font-size: 30px;
    margin-top: -15px;
}

.status{
    float: left;
    text-align: center;
    letter-spacing: 3px;
    margin-left: 30px;
}

.prof_img{
    width: 280px;
    height: 60%;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    margin-top: 100px;
    border: 1px solid rgb(131, 123, 123);
}

.prtitle{
    letter-spacing: 3px;
    font-size: 3ex;
}

/* -----------
History
----------- */

.history{
    overflow: hidden;
    margin-left: 100px;
    margin-right: 150px;
    max-width: 900px;
    min-width: 300px;

}

.prbox{
    margin-right: 150px;
    margin-left: 150px;
    max-width: 1200px;
    min-width: none;
}

/*------------------
Listen
----------------*/

.listen{
    text-align: center;
    letter-spacing: 5px;
}

.listen-circle{
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(196, 61, 99);
}

.sc-title{
    float: left;
    margin: 10px 0 0 0;
}

.soundcloud{
    width: 500px;
    height: auto;
    margin: auto;
}

.sc-more{
    float: right;
}

.sc-more:link{
    color: rgb(162, 162, 162);
} 

.sc-more:visited{
    color: rgb(196, 61, 99);
}

.sc-more:hover{
    color: rgb(194, 122, 142);
}

/*-----------------
See
-----------------*/

.see-circle{
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(90, 156, 91);
}

.see{
    text-align: center;
    letter-spacing: 5px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    max-width: 960px;
    min-width: 500px;
}

.item{
    width: 300px;
    height: auto;
    text-align: center;
    margin:  auto;
    flex-wrap: wrap;
}

img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: flex;
    text-align: center;
    border: 1px solid rgb(131, 123, 123);
}

.itemtitle{
    float: left;
    margin: 10px 0 0 0 ;
    letter-spacing: 1px;
}

/* ------------
footer
------------- */

.footer{
    color: gray;
    text-align: center;
}